/*colors
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1;
*/


body {
  padding-top: 70px;
  padding-left: 30px;
}
ytplayer{
  margin:0 15px 5px 0;
}

div.recipe{
  margin:0 15px 5px 0;
  font-weight: lighter;
}
.recipe h2{
  font-size: 28px;
}
.navbar-default {
    background-color: #e67e22;
    border-color: #d35400;
    .navbar-brand {
        color: #ecf0f1;
        &:hover, &:focus {
            color: #ffe6d1; }}
    .navbar-nav {
        > li {
            > a {
                color: #ecf0f1;
                &:hover, &:focus {
                    color: #ffe6d1;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: #ffe6d1;
                background-color: #d35400; }}
        .open {
            > a, > a:hover, > a:focus {
                color: #ffe6d1;
                background-color: #d35400;
                .caret {
                    border-top-color: #ffe6d1;
                    border-bottom-color: #ffe6d1; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: #ecf0f1;
                    border-bottom-color: #ecf0f1; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: #ffe6d1;
                        border-bottom-color: #ffe6d1; }}}}}
    .navbar-toggle {
        border-color: #d35400;
        &:hover, &:focus {
            background-color: #d35400; }
        .icon-bar {
            background-color: #ecf0f1; }}}
