@charset "utf-8";

a{color:0x0000FF !important;}
a:hover{color:0xFF3300 !important;}
a:visited{color:0xFFCCCC !important;}


.clearfix
{
	clear:both;
}

.floatright 
{
	margin:5px;
	float:right;
}

.floatleft
{
	float:left;
	clear:both;
}


.body-center
{
	width: 1000px ;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}

#profile-picture
{
	margin-left: 20px;
}
h2
{
border-bottom: 1px solid #343434;
}
p
{
margin: 5px;
}
#container
{
        background-color:#A9A9F5;
        
        display:block;
}

#buttona ul {
	margin: ;
	padding: ;
	list-style: none;
	display: inline;
}
#buttona ul li {
	margin: ;
	padding: ;
	display: inline;
	text-align: center;
	list-style: none;
}
#buttona li a {
	color: #ff0 ;
	background-color: #12127d;
	border: 1px outset #9191ff;
	padding: 8px;
	text-decoration: none;
	display: inline;
}
#buttona li a:hover {
	color: #000;
	background-color: #c8c8ff;
}
