@charset "utf-8";
@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/avenir-lt-std-35-light.otf');
}

@font-face {
    font-family: 'league_spartanregular';
    src: url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervillebold';
    src: url('../fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('../fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.cv {
    font-size: 18px;
    color: black;
}
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.nav-tabs .nav-link {
  height: 50px;
}

.jumbotron {
  padding: 2rem 2rem; 
}

h1, h2, h4 {
    font-family: 'league_spartanregular', Arial, sans-serif;
}

p, div {
    font-family: 'libre_baskervilleregular', Arial, sans-serif;
}

.profile {
  max-height: auto;
  max-width: 250px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wcenter {
    text-align: center;
    margin: 0 auto;
}